.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section.table {
  flex: 3 1 600px;
  padding: 1.5rem 5rem;
  /* height: 100vh;
  overflow: hidden; */
}
section.table .container {
  /* height: 100%;
  overflow-y: auto; */
}
section.table .container table {
  border-collapse: collapse;
}
section.table .container table tr {
  border-bottom: 2px solid gray;
  transition: all 0.2s ease;
}
section.table .container table tr:first-child {
  border-top: 2px solid gray;
}
section.table .container table tr td {
  padding: 1em;
}
section.table .container table tr td:first-child {
  width: 20%;
}
section.table .container table tr td:second-child {
  width: 80%;
}
section.table .container table tr td ul {
  /* list-style-position: inside; */
  margin-left: 1em;
}
section.table .container table tr td ul li {
  margin-bottom: 0.5em;
}
section.table .container table tr td ul.listGroup {
  list-style: none;
}
section.table .container table tr td ul.listGroup li {
  margin-bottom: 1em;
}
section.table .container table tr td ul.listGroup li p {
  margin: 0.5em 0;
}
section.table .container table tr td ul.listGroup li p.roleName {
  font-weight: 600;
}
section.table .container table tr td ul.listGroup li p.roleInfo {
  font-style: italic;
  font-size: 14px;
}
section.table .container table tr td ul.listGroup li ul.subListGroup {
  list-style-type: "- ";
  list-style-position: outside;
  margin-left: 10px;
}
section.table .container table tr td ul.listGroup li ul.subListGroup li {
  margin-bottom: 1em;
}
section.table .container table tr td.skillsGroup ul li div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
section.table .container table tr td.skillsGroup ul li div figure {
  display: block;
  text-align: center;
  font-size: 14px;
  margin: 0.5em 0.5em;
}
section.table .container table tr td ul li span.uniInfo {
  font-style: italic;
  font-size: 14px;
}
section.table .container table tr td.intsGroup p {
  margin-bottom: 1rem;
}
section.table .container table tr:hover {
  background-color: #ffd2b8;
}

section.picture {
  flex: 1 1 500px;
  padding: 1.5em 0 0 1em;
}
section.picture img {
  width: 25vw;
  height: 35vw;
}
section.picture div.orangeRect {
  width: 25vw;
  height: 35vw;
  background-color: #e08958;
  position: absolute;
  top: 23%;
  right: 10%;
  z-index: -1;
}

@media screen and (max-width: 1114px) {
  .main section.picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main section.picture img {
    width: 35vw;
    height: 49vw;
    margin-bottom: 2rem;
  }
  .main section.picture div.orangeRect {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .main section.table {
    padding: 1.5rem 1rem;
  }
  .main section.table .container table tbody tr td {
    display: block;
    width: 100%;
  }
  .main section.table .container table tbody tr td ul {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .main section.table .container table tbody tr td ul li {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .main section.table .container table tbody tr td ul li p.roleName,
  .main section.table .container table tbody tr td ul li p.roleInfo {
    text-align: center;
  }
  .main section.table .container table tbody tr td ul .subListGroup li {
    text-align: left;
  }
  .main section.table .container table tbody tr td ul .subListGroup li li {
    /* margin-bottom: 0.5rem; */
  }
  .main section.table .container table tbody tr td:first-child {
    padding-bottom: 0.5rem;
  }
  .main section.table .container table tbody tr td .aboutCategories {
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
  }
  .main section.table .container table tbody tr td.skillsGroup ul {
    display: flex;
    flex-direction: column;
  }
  .main section.table .container table tbody tr td.skillsGroup ul li {
    list-style: none;
    /* margin-bottom: 1.5rem; */
  }
  .main section.table .container table tbody tr td.skillsGroup ul li p {
    font-weight: 600;
  }
  .main section.table .container table tbody tr td.skillsGroup ul li div {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .main section.table .container table tbody tr td.eduGroup ul li, .main section.table .container table tbody tr td.langGroup ul li {
    /* margin-bottom: 1.5rem; */
    list-style: none;
  }
  .main section.table .container table tbody tr td.eduGroup .uniSubject {
    font-weight: 500;
  }
  .main section.table .container table tbody tr td.intsGroup {
    text-align: center;
  }
  .main section.picture img {
    width: 50vw;
    height: 70vw;
  }
}/*# sourceMappingURL=about.module.css.map */