.navbar {
  width: 100%;
  height: 106px;
  position: fixed;
  z-index: 100;
  top: 0;
  /* border-bottom: 2px solid grey; */
  transition: 0.3s;

  .navbarBurger {
    display: none;
  }

  ul {
    padding: 2rem;
    width: 70%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;

    li {
      font-size: 1.75rem;
      font-weight: 600;
      color: #000;

      &.active {
        color: #e08958;
      }

      a {
        text-decoration: none;
      }

      &:hover {
        color: #e08958;
      }
    }
  }
}

.smallNavbar {
  height: 62px;
  background-color: rgba(170, 168, 168, 0.2);
  /* border-bottom: 2px solid #e08958; */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  ul {
    padding-top: 1rem;

    li {
      font-size: 1.25rem;
      font-weight: 600;
      color: #000;
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
        1px 1px 0 #fff;
    }
  }
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 1100px) {
  .orangeBackground {
    opacity: 0.5;
  }

  .navbar {
    transition: all 0.2s;

    &.open {
      height: 100vh;
      background-color: rgba(170, 168, 168, 0.1);
      backdrop-filter: blur(50px);
      -webkit-backdrop-filter: blur(50px);
      padding-top: 2rem;
      li {
        padding-bottom: 3rem;
        color: #000;
        font-size: 1.75rem;
        font-weight: 600;

        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
          1px 1px 0 #fff;

        &:not(.active) {
          display: initial;
        }
      }
    }

    .navbarBurger {
      display: block;
      position: absolute;
      top: 2rem;
      right: 2rem;
      background: none;
      border: none;
      cursor: pointer;
    }

    ul {
      width: 100%;
      flex-direction: column;

      li {
        text-align: center;

        &:not(.active) {
          display: none;
        }
      }
    }
  }

  .smallNavbar .navbarBurger {
    transform: translateY(-1.2rem);

    .navbarBurgerImg {
      /* width: 2.5rem;
      height: 2.5rem; */
      filter: drop-shadow(0px 0px 1px #fff);
    }
  }
}
