.main {
  display: flex;
  flex-wrap: wrap;

  section.left {
    flex: 3 1 600px;
    padding: 2em 5em;
    z-index: 1;

    h1 {
      font-size: 3.5em;
      color: #e08958;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }
    p {
      font-size: 1.5em;
      padding: 1em 0em;
    }
  }

  section.right {
    flex: 1 1 500px;
    position: relative;
    img {
      border-radius: 50%;
      width: 20vw;
      height: 20vw;
      position: absolute;
      top: 40vh;
      right: 18vw;
      transform: translateY(-50%);
    }
  }
}

@media screen and (max-width: 1114px) {
  .main {
    flex-direction: column;
    section.right {
      img {
        min-width: 250px;
        min-height: 250px;
        width: 30vw;
        height: 30vw;
        right: 30vw;
        transform: translateY(-120%);
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .main {
    section.left {
      padding: 2em 3em;
    }
    section.right {
      img {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
      }
    }

    .bkgContainer {
      img {
        display: none;
      }
      .bkgRound {
        background-color: #e08958;
        border-radius: 50%;
        position: absolute;

        min-width: 250px;
        min-height: 250px;
        width: 30vw;
        height: 30vw;
        right: 30vw;
        transform: translateY(-150%);
        z-index: -1;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .main {
    section.left {
      padding: 2em 2em;
      h1 {
        font-size: 2.5em;
      }
      p {
        font-size: 1.2em;
      }
    }

    section.right {
      position: relative;
      transform: translateY(-25%);
      img {
        right: 25vw;
      }
    }

    .bkgContainer {
      position: relative;
      .bkgRound {
        right: 25vw;
        transform: translateY(-200%);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .main {
    section.left {
      padding: 2em 1.5em;
    }

    section.right {
      position: relative;
      transform: translateY(-35%);
      img {
        right: 25vw;
        min-width: 200px;
        min-height: 200px;
        width: 35vw;
        height: 35vw;
      }
    }
    .bkgContainer {
      position: relative;
      .bkgRound {
        right: 25vw;
        min-width: 200px;
        min-height: 200px;
        width: 35vw;
        height: 35vw;
        transform: translateY(-250%);
      }
    }
  }
}
