.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .cardImg {
    padding: 1em;
    width: 80%;

    .cardImgObj {
      /* box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5); */
      border: 1px solid black;
      border-radius: 8px;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .cardSkills {
    margin: 0.5em;
    padding: 0.75em;
    border: 1px solid black;
    border-radius: 5px;
    /* background-color: #e2caa8; */
    font-size: 0.875em;
    width: 80%;
    height: auto;

    div {
      display: inline-flex;
      margin: 0.2em;
      padding: 0.1em;
      border-radius: 3px;
      border: 1px solid black;
      align-content: center;
      justify-content: flex-start;
    }

    .cardSkillArch {
      background-color: lightskyblue;
      font-weight: 600;
    }

    .cardSkillLang {
      background-color: navajowhite;
    }

    .cardSkillFrame {
      background-color: lightpink;
    }

    .cardSkillDb {
      background-color: lightgreen;
    }
  }

  .cardDescrip {
    padding: 1.5em;
    font-size: 1em;
  }

  .cardLinks {
    div {
      display: inline-flex;
      margin: 1em;
      padding: 0.5em;
      background-color: #eb996a;
      border-radius: 5px;
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.23);
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.23);
      }

      a {
        font-size: 1.2em;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .container {
    text-align: center;

    .cardImg {
      width: 85%;
    }

    .cardName {
      padding: 0.8em;
    }

    .cardLinks {
      div {
        display: flex;
        flex-direction: column;
        width: 11.5em;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    text-align: center;

    .cardImg {
      width: 90%;
    }

    .cardSkills {
      font-size: 0.75em;
    }

    .cardDescrip {
      font-size: 0.875em;
    }

    .cardLinks {
      div {
        display: flex;
        flex-direction: column;
        width: 8em;

        a {
          font-size: 1em;
        }
      }
    }
  }
}
